<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IdentityPoolId</key>
	<string>${IDENTITY_POOL_ID}</string>
	<key>ApiKey</key>
	<string>$(API_KEY)</string>
	<key>ApiKeyRegion</key>
	<string>${API_KEY_REGION}</string>
	<key>TrackerName</key>
	<string>${TRACKER_NAME}</string>
</dict>
</plist>
